<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>隐私条款</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../styles/reset.css">
    <link rel="stylesheet" href="../../styles/common.css">
    <link rel="stylesheet" href="../../styles/aboutUs.css">
</head>
<body class="about-body">
<header>
    <div class="wrap header-wrap clearfix">
        <a class="fl logo" href="">
            <img class="wqd-img" src="../../assert/images/logo.png">
        </a>
        <nav class="fr header-nav">
            <ul class="">
                <li class="fl header-nav-li"><a href="../../index.html">首页</a></li>
                <li class="fl header-nav-li"><a href="../../view/aboutUs/company.html">关于我们</a></li>
                <li class="fl header-nav-li"><a href="../../view/news/news.html">新闻资讯</a></li>
                <li class="fl header-nav-li active"><a href="../../view/product/product-introduce.html">产品介绍</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="main-content clearfix">
    <div class="about-nav">
        <div class="about-nav-item">
            <h3 class="mb-15">
                <hr/>
                <span>关于我们</span></h3>
            <ul>
                <li class="about-nav-li"><a href="../../view/aboutUs/company.html">公司介绍</a></li>
                <li class="about-nav-li"><a href="../../view/aboutUs/team.html">团队介绍</a></li>
                <li class="about-nav-li"><a href="../../view/aboutUs/concat.html">联系我们</a></li>
                <li class="about-nav-li"><a href="../../view/aboutUs/joinUs.html">加入我们</a></li>
            </ul>
        </div>
        <div class="about-nav-item">
            <h3 class="mb-15">
                <hr/>
                <span>产品服务</span></h3>
            <ul>
                <li class="about-nav-li"><a href="../product/product-introduce.html">产品介绍</a></li>
                <li class="about-nav-li"><a href="#">安全保障</a></li>
                <li class="about-nav-li"><a href="../product/protocol.html">服务协议</a></li>
                <li class="about-nav-li active"><a href="../product/privacy.html">隐私条款</a></li>
            </ul>
        </div>
    </div>
    <div class="about-content ml-10">
        <div class="about-us">
            <h2 class="hd">隐私条款</h2>
            <p class="sub_text">以下是本网站（https://shinefeel.com）（以下合称“本网站”）的隐私规则条款。 您成为本网站用户前务必仔细阅读本隐私条款并同意本隐私条款。作为本网站服务的正常操作程序的一部分，本网站收集、使用并（在一些情况下）向第三方披露有关您的资料。本隐私条款作为本网站服务协议的附件，在您注册成为本网站用户后立即生效，并对您及本网站产生约束力。</p>
            <h4>一、用户身份限制</h4>
            <p class="sub_text">
                未成年人（年龄18周岁以下人士）、限制行为能力人、中国（包括港澳台地区）以外地区人士及自然人以外的组织无资格注册成为本网站用户并使用本网站的服务，本网站要求未成年人、限制行为能力人、中国（包括港澳台地区）以外地区人士及各类组织不要向本网站提交任何个人资料。
            </p>
            <h4>二、本网站对您的资料的披露</h4>
            <p class="sub_text">
                本网站采用行业标准惯例以保护您的个人资料，但鉴于技术限制，本网站不能确保您的全部私人通讯及其他个人资料不会通过本隐私条款中未列明的途径泄露出去，对此本网站不承担任何责任。
            </p>
            <p class="sub_text ">
                本网站有权根据有关法律和监管要求，本网站风险控制要求以及相关协议要求向司法机关等政府部门、社会组织或团体、其他第三方服务或合作机构提供您的个人资料。在您未能按照与本网站签订的服务协议、居间协议或者与本网站企业用户签订的借款（担保）协议的约定履行自己应尽的义务时，本网站有权根据自己的判断或者与该笔交易有关的其他用户的请求披露您的个人资料，并作出评论。
            </p>
            <h4>三、电子邮件</h4>
            <p class="sub_text">
                您不得使用本网站提供的服务或其他电子邮件转发服务发送垃圾邮件或其他可能影响本网站系统运行或违反本网站的用户协议或隐私条款的内容。
            </p>
            <h4>四、规则修改</h4>
            <p class="sub_text">
                本网站可能不时按照您的意见和本网站的需要修改本隐私条款，以准确地反映本网站的资料收集及披露惯例。本条款的所有修改，在本网站公布有关修改内容后自动生效或在该等条款指定的日期生效。
            </p>
            <p class="sub_text">本网站按照您在本网站网址上的行为自动追踪关于您的某些资料。本网站利用这些资料进行有关本网站之用户的人口统计、兴趣及行为的内部研究，以更好地了解您以便向您和本网站的用户社区提供更好的服务。</p>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="wrap clearfix">
        <section class="fl concat-way">
            <h6>联系我们</h6>
            <span>公司地址 ： 浙江省衢州市龙游县翔飞有限公司地址</span>
            <span>联系电话 ： 150-6874-6735</span>
            <span>我要合作 ： 150-6874-6735</span>
        </section>
        <section class="fl ml-60 footer-middle">
            <h6>您的成功梦想需要一包非同凡响的纸巾</h6>
            <p>韧-柔软与结实的出色演绎，纸巾要做到既柔软又结实并不容易，而翔飞产品永远在“韧”上追求卓越表现。全新韧性升级的翔飞超韧系列，精选进口优质原生木浆，超韧3层、湿水不易破，连金鱼也能轻松兜住！</p>
        </section>
        <section class="fl footer-middle ml-60">
            <h6>雕琢每一个面向用户的细节</h6>
            <p>时尚、高雅的蓝色主调配合象征幸福的动感立体扶郎花，运用全新翔飞品牌区，韧性品质给你带来前所未有的高端享受。</p>
        </section>
    </div>
    <p class="tc mt-20">龙游翔飞有限公司   Copyright 2012-2015 浙ICP10204942号</p>
</footer>
</body>
</html>