<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../styles/reset.css">
    <link rel="stylesheet" href="../../styles/common.css">
    <link rel="stylesheet" href="../../styles/aboutUs.css">
    <!--<link rel="stylesheet" href="../../styles/index.css">-->
    <title>产品介绍</title>
</head>
<body class="about-body">
<header>
    <div class="wrap header-wrap clearfix">
        <a class="fl logo" href="">
            <img class="wqd-img" src="../../assert/images/logo.png">
        </a>
        <nav class="fr header-nav">
            <ul class="">
                <li class="fl header-nav-li"><a href="../../index.html">首页</a></li>
                <li class="fl header-nav-li"><a href="../../view/aboutUs/company.html">关于我们</a></li>
                <li class="fl header-nav-li"><a href="../../view/news/news.html">新闻资讯</a></li>
                <li class="fl header-nav-li active"><a href="../../view/product/product-introduce.html">产品介绍</a></li>
            </ul>
        </nav>
    </div>
</header>
<!--<section><img src="../../assert/images/yinli.jpg" alt="加入我们"></section>-->
<div class="main-content clearfix">
    <div class="about-nav">
        <div class="about-nav-item">
            <h3 class="mb-15">
                <hr/>
                <span>关于我们</span></h3>
            <ul>
                <li class="about-nav-li"><a href="../../view/aboutUs/company.html">公司介绍</a></li>
                <li class="about-nav-li"><a href="../../view/aboutUs/team.html">团队介绍</a></li>
                <li class="about-nav-li"><a href="../../view/aboutUs/concat.html">联系我们</a></li>
                <li class="about-nav-li"><a href="../../view/aboutUs/joinUs.html">加入我们</a></li>
            </ul>
        </div>
        <div class="about-nav-item">
            <h3 class="mb-15">
                <hr/>
                <span>产品服务</span></h3>
            <ul>
                <li class="about-nav-li active"><a href="#">产品介绍</a></li>
                <li class="about-nav-li"><a href="#">安全保障</a></li>
                <li class="about-nav-li"><a href="#">服务协议</a></li>
                <li class="about-nav-li"><a href="concat.html">隐私条款</a></li>
            </ul>
        </div>
    </div>
    <div class="about-content ml-10">
        <div class="about-us">
            <h2 class="hd">产品介绍</h2>
            <p class="mt-10 sub_text">致力于满足人们对高品质生活的追求。带来了国内鲜见的100%纯进口木浆餐巾纸巾，并开始为中国消费者带来高品质的生活用纸产品。一路走来，从有芯卷纸发展到覆盖软抽、无芯、湿巾等6大品类，</p>
            <nav class="mt-20 product-list">
                <ul>
                    <li class="clearfix">
                        <a class="fl" href="javascript:;"><img src="../../assert/images/product-1.png" alt="产品"></a>
                        <div class="fl product-des">
                            <p>•韧-柔软与结实的出色演绎，纸巾要做到既柔软又结实并不容易，而维达产品永远在“韧”上追求卓越表现。全新韧性升级的维达超韧系列，精选进口优质原生木浆，超韧3层、湿水不易破，连金鱼也能轻松兜住！•时尚、高雅的蓝色主调配合象征幸福的动感立体扶郎花，运用全新维达品牌区</p>
                        </div>
                    </li>
                    <li class="clearfix">
                        <a class="fl" href="javascript:;"><img src="../../assert/images/product-2.png" alt="产品"></a>
                        <div class="fl product-des">
                            <p>沉稳深邃的蓝色，成为产品中的经典。维达蓝色经典卷纸经久不衰，系源于精选优质木浆，独特长短纤配比，纸质柔韧厚实，湿水不易破，为追求生活质量、重视生活品质和使用感受的您提供一份最高品质的呵护。</p>
                        </div>
                    </li>
                    <li class="clearfix">
                        <a class="fl" href="javascript:;"><img src="../../assert/images/product-3.png" alt="产品"></a>
                        <div class="fl product-des">
                            <p>灵感来自亚平宁半岛的小雏菊，如温和的地中海阳光滋养美妙的生活。全新维达细韧系列，精选100%优质原生木浆，纸质纯净，更采用全新3D-DECO压花工艺，细腻柔韧，亲肤无刺激，健康更安心，最适合追求健康与安全的您！</p>
                        </div>
                    </li>
                    <li class="clearfix">
                        <a class="fl" href="javascript:;"><img src="../../assert/images/product-4.png" alt="产品"></a>
                        <div class="fl product-des">
                            <p>•“爱，是精心呵护宝贝的每一寸肌肤，像妈妈的手，给宝贝最温柔的呵护”娇嫩肌最需要全心呵护，全新维达婴儿系列纸面巾，精选进口100%优质原生木浆，创新工艺，令纸质柔厚舒适，给宝宝全新呵护。</p>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="wrap clearfix">
        <section class="fl concat-way">
            <h6>联系我们</h6>
            <span>公司地址 ： 浙江省衢州市龙游县翔飞有限公司地址</span>
            <span>联系电话 ： 150-6874-6735</span>
            <span>我要合作 ： 150-6874-6735</span>
        </section>
        <section class="fl ml-60 footer-middle">
            <h6>您的成功梦想需要一包非同凡响的纸巾</h6>
            <p>韧-柔软与结实的出色演绎，纸巾要做到既柔软又结实并不容易，而翔飞产品永远在“韧”上追求卓越表现。全新韧性升级的翔飞超韧系列，精选进口优质原生木浆，超韧3层、湿水不易破，连金鱼也能轻松兜住！</p>
        </section>
        <section class="fl footer-middle ml-60">
            <h6>雕琢每一个面向用户的细节</h6>
            <p>时尚、高雅的蓝色主调配合象征幸福的动感立体扶郎花，运用全新翔飞品牌区，韧性品质给你带来前所未有的高端享受。</p>
        </section>
    </div>
    <p class="tc mt-20">龙游翔飞有限公司   Copyright 2012-2015 浙ICP10204942号</p>
</footer>
<script src="../../scripts/jquery-3.2.1.min.js"></script>
<script src="../../scripts/common.js"></script>
<script>
    $(function () {
        $("body").on("click",".tab-list-li",function () {
            var index = $(this).index();
            $(this).addClass("active").siblings().removeClass("active");
            $(".tab-content-li").eq(index).addClass("active").siblings().removeClass("active");
        })
    })
</script>
</body>
</html>