<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>服务协议</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../styles/reset.css">
    <link rel="stylesheet" href="../../styles/common.css">
    <link rel="stylesheet" href="../../styles/aboutUs.css">
    <!--<link rel="stylesheet" href="../../styles/index.css">-->
</head>
<body class="about-body">
<header>
    <div class="wrap header-wrap clearfix">
        <a class="fl logo" href="">
            <img class="wqd-img" src="../../assert/images/logo.png">
        </a>
        <nav class="fr header-nav">
            <ul class="">
                <li class="fl header-nav-li"><a href="../../index.html">首页</a></li>
                <li class="fl header-nav-li"><a href="../../view/aboutUs/company.html">关于我们</a></li>
                <li class="fl header-nav-li"><a href="../../view/news/news.html">新闻资讯</a></li>
                <li class="fl header-nav-li active"><a href="../../view/product/product-introduce.html">产品介绍</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="main-content clearfix">
    <div class="about-nav">
        <div class="about-nav-item">
            <h3 class="mb-15">
                <hr/>
                <span>关于我们</span></h3>
            <ul>
                <li class="about-nav-li"><a href="../../view/aboutUs/company.html">公司介绍</a></li>
                <li class="about-nav-li"><a href="../../view/aboutUs/team.html">团队介绍</a></li>
                <li class="about-nav-li"><a href="../../view/aboutUs/concat.html">联系我们</a></li>
                <li class="about-nav-li"><a href="../../view/aboutUs/joinUs.html">加入我们</a></li>
            </ul>
        </div>
        <div class="about-nav-item">
            <h3 class="mb-15">
                <hr/>
                <span>产品服务</span></h3>
            <ul>
                <li class="about-nav-li"><a href="../product/product-introduce.html">产品介绍</a></li>
                <li class="about-nav-li"><a href="#">安全保障</a></li>
                <li class="about-nav-li active"><a href="../product/protocol.html">服务协议</a></li>
                <li class="about-nav-li"><a href="concat.html">隐私条款</a></li>
            </ul>
        </div>
    </div>
    <div class="about-content ml-10">
        <div class="about-us">
            <h2 class="hd">使用条款/免责声明</h2>
            <p class="sub_text">本使用条款／免责声明（「使用条款」）载有龙游翔飞有限公司（「本公司」）网站（「本网站」）的重要数据。使用条款影响　阁下的法律权利及责任，务请详加细阅。倘若　阁下不同意本使用条款，或认为本使用条款或其任何条文并不合理，请勿使用本网站。</p>
            <h4>1.约束力协议</h4>
            <p class="sub_text">
                1.1       本网站仅供　阁下个人使用，使用时须遵守本使用条款。　阁下使用本网站，即表示同意受本使用条款约束。
                <br>
                1.2       本公司可能会基于法律或监管理由，或任何本公司可能绝对酌情应为合适的其他理由，不时更新本使用条款。如有任何更改，本公司将于本网站发表合适公告，通知　阁下。有关更改将于按上文所述通知　阁下后，适用于本网站及其内容的使用。倘若　阁下不拟接受新使用条款，应停止继续使用本网站及其任何内容。倘若　阁下于更改生效后继续使用本网站及／或当中任何内容，则使用本网站及／或当中任何内容即表示　阁下同意受新使用条款约束。
            </p>
            <h4>2.使用网站/知识产权</h4>
            <p class="sub_text">
                2.1       本网站的内容受到版权、商标、数据库权利及其他知识产权保障。除非本网站其他部分（如有）另行明确准许，否则　阁下仅可于计算机或流动装置浏览本网站的内容，并仅作个人、非商业用途，不得以本网站任何内容作出任何其他作为或作任何其他用途。倘若本网站任何其他部分另行明确允许以本网站任何内容作出任何其他作为或作任何其他用途，该等其他获准作为及／或用途亦仅供　阁下作个人、非商业用途，并须受本使用条款规限及规管。除上述者外，本公司一概不会向　阁下授出有关本网站或其任何内容的其他权利。换言之，本公司保留于本使用条款内并无明确授出的所有其他权利。
                <br>
                2.2       为免生疑问，除上文第2.1段所述的获准用途外，在不损害上文第2.1段的一般性的原则下，未经本公司事先书面批准，　阁下不得以任何形式或媒介复制、重制、修改、改编、分派、传布、传阅、发布、转传、广播、公开展示或播放或向任何人士提供本网站或其任何内容，作任何商业或任何其他用途。
                <br>
                2.3       阁下不得创设、建立或提供任何连接本网站或其任何内容的连结或超链接。
            </p>
            <h4>3.不保证声明</h4>
            <p class="sub_text">
                3.1       本公司及其附属公司、联营公司及／或关连公司概不就本网站或其任何数据或内容作出任何陈述、保证或担保（不论明示或暗示）。
                <br>
                3.2       在不损害上文第3.1段的一般性的原则下，本公司及其附属公司、联营公司及／或关连公司概不就本网站所载任何数据或内容的准确性、可靠性或时间性作出任何陈述、保证或担保（不论明示或暗示）。此外，概不保证或担保本网站将一直可供浏览或将可供浏览。
                <br>
                3.3       本网站任何内容概不构成亦不被视为构成任何形式的建议。　阁下如果需要有关任何法律或财务事宜的建议，应自行咨询本身的法律或财务顾问。
            </p>
            <h4>4.规管法律等</h4>
            <p class="sub_text">
                在适用法律允许的最大限度内，本公司及其附属公司、联营公司及／或关连公司，概不就因使用本网站或当中所载任何数据或内容，及／或本网站所载任何数据或内容中任何有欠准确之处、错误、错误陈述、失实陈述或遗漏而产生、因而引致或与此有关的任何直接、间接、特殊或相应损失或损害赔偿（包括但不限于任何业务损失、收益、收入或溢利损失、声誉或商誉受损、数据或数据损失或损毁等等），向　阁下负上责任（不论侵权、合约或其他责任）。
            </p>
            <h4>5.责任限制</h4>
            <p class="sub_text">
                本使用条款受香港特别行政区法例及规限。　阁下如拟提起任何法律或法院诉讼或程序，必须于香港特别行政区进行。另一方面，本公司及／或其任何附属公司、联营公司及／或关连公司拥有绝对权利及酌情权，于香港特别行政区及／或世界各地任何其他司法权区向　阁下提起任何法律或法院诉讼或程序。
            </p>
            <h4>6.其他事项</h4>
            <p class="sub_text">
                6.1       倘若本使用条款任何条文的全文或任何部分被任何法院或其他主管机关裁定属无效或不合理，则本使用条款的其他条文及受影响条文的其余部分仍然继续有效。
                <br>
                6.2       本使用条款由英文版翻译成中文版。如有任何歧义、冲突或模糊之处，概以英文版为准。
            </p>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="wrap clearfix">
        <section class="fl concat-way">
            <h6>联系我们</h6>
            <span>公司地址 ： 浙江省衢州市龙游县翔飞有限公司地址</span>
            <span>联系电话 ： 150-6874-6735</span>
            <span>我要合作 ： 150-6874-6735</span>
        </section>
        <section class="fl ml-60 footer-middle">
            <h6>您的成功梦想需要一包非同凡响的纸巾</h6>
            <p>韧-柔软与结实的出色演绎，纸巾要做到既柔软又结实并不容易，而翔飞产品永远在“韧”上追求卓越表现。全新韧性升级的翔飞超韧系列，精选进口优质原生木浆，超韧3层、湿水不易破，连金鱼也能轻松兜住！</p>
        </section>
        <section class="fl footer-middle ml-60">
            <h6>雕琢每一个面向用户的细节</h6>
            <p>时尚、高雅的蓝色主调配合象征幸福的动感立体扶郎花，运用全新翔飞品牌区，韧性品质给你带来前所未有的高端享受。</p>
        </section>
    </div>
    <p class="tc mt-20">龙游翔飞有限公司   Copyright 2012-2015 浙ICP10204942号</p>
</footer>
</body>
</html>