<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../styles/reset.css">
    <link rel="stylesheet" href="../../styles/common.css">
    <link rel="stylesheet" href="../../styles/index.css">
    <title>公司介绍</title>
</head>
<body class="about-body">
<header>
    <div class="wrap header-wrap clearfix">
        <a class="fl logo" href="">
            <img class="wqd-img" src="../../assert/images/logo.png">
        </a>
        <nav class="fr header-nav">
            <ul class="">
                <li class="fl header-nav-li"><a href="../../index.html">首页</a></li>
                <li class="fl header-nav-li active"><a href="../../view/aboutUs/company.html">关于我们</a></li>
                <li class="fl header-nav-li"><a href="../../view/news/news.html">新闻资讯</a></li>
                <li class="fl header-nav-li"><a href="../../view/product/product-introduce.html">产品介绍</a></li>
            </ul>
        </nav>
    </div>
</header>
<!--<section><img src="../assert/images/zhaopin-banner.jpg" alt="一起成功"></section>-->
<div class="main-content clearfix">
    <div class="about-nav">
        <div class="about-nav-item">
            <h3 class="mb-15">
                <hr/>
                <span>关于我们</span></h3>
            <ul>
                <li class="about-nav-li active"><a href="../../view/aboutUs/company.html">公司介绍</a></li>
                <li class="about-nav-li"><a href="../../view/aboutUs/team.html">团队介绍</a></li>
                <li class="about-nav-li"><a href="../../view/aboutUs/concat.html">联系我们</a></li>
                <li class="about-nav-li"><a href="../../view/aboutUs/joinUs.html">加入我们</a></li>
            </ul>
        </div>
        <div class="about-nav-item">
            <h3 class="mb-15">
                <hr/>
                <span>产品服务</span></h3>
            <ul>
                <li class="about-nav-li"><a href="#">产品介绍</a></li>
                <li class="about-nav-li"><a href="#">安全保障</a></li>
                <li class="about-nav-li"><a href="#">服务协议</a></li>
                <li class="about-nav-li"><a href="concat.html">隐私条款</a></li>
            </ul>
        </div>
    </div>
    <div class="about-content ml-10">
        <div class="about-us">
            <div class="hd">
                <h2>公司介绍</h2>
            </div>
            <div class="bd">
                <div>
                    <h3 class="">翔飞公司介绍</h3>
                    <p class="sub_text">翔飞纸业（https://shinefeel.com）隶属于翔飞有限公司，是专业安全的造纸企业。</p>
                    <p class="sub_text">公司成立于2014年，翔飞纸业创始人及核心团队均来自360、百度、建设银行等知名互联网公司及金融机构的资深人士，在技术研发、金融产品、风险控制等方面专业高效，已获得策源创投、源码资本、夏佐全共同参与的2100万美金A轮融资。</p>
                    <p class="sub_text">团队坚持技术创新，对接多重回款保障措施的优选项目，对接银行存管系统，致力于用互联网思维打造一个最优质、最安全、最便捷、最有诚意的造纸企业。</p>
                    <p class="sub_text">我们坚持环保理念，既为中小微企业解决经营性融资需求，又完美服务懒人，让广大投资者躺着也能挣钱。随着我们的不懈努力，必将开启个人金融服务的新时代。</p>
                </div>
                <div>
                    <p class="mt-20"><img src="../../assert/images/company-2.jpg" alt="公司宣传图片"></p>
                    <p class="mt-20"><img src="../../assert/images/company-2.jpg" alt="公司宣传图片"></p>
                </div>
                <div>
                    <h3 class="">公司资质</h3>
                    <p><a class="zhizhao" href="javascript:;"><img src="../../assert/images/zhizhao.jpg" alt="公司执照"></a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="wrap clearfix">
        <section class="fl concat-way">
            <h6>联系我们</h6>
            <span>公司地址 ： 浙江省衢州市龙游县翔飞有限公司地址</span>
            <span>联系电话 ： 150-6874-6735</span>
            <span>我要合作 ： 150-6874-6735</span>
        </section>
        <section class="fl ml-60 footer-middle">
            <h6>您的成功梦想需要一包非同凡响的纸巾</h6>
            <p>韧-柔软与结实的出色演绎，纸巾要做到既柔软又结实并不容易，而翔飞产品永远在“韧”上追求卓越表现。全新韧性升级的翔飞超韧系列，精选进口优质原生木浆，超韧3层、湿水不易破，连金鱼也能轻松兜住！</p>
        </section>
        <section class="fl footer-middle ml-60">
            <h6>雕琢每一个面向用户的细节</h6>
            <p>时尚、高雅的蓝色主调配合象征幸福的动感立体扶郎花，运用全新翔飞品牌区，韧性品质给你带来前所未有的高端享受。</p>
        </section>
    </div>
    <p class="tc mt-20">龙游翔飞有限公司   Copyright 2012-2015 浙ICP10204942号</p>
</footer>
</body>
</html>