<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../styles/reset.css">
    <link rel="stylesheet" href="../../styles/common.css">
    <link rel="stylesheet" href="../../styles/index.css">
    <title>联系我们</title>
</head>
<body class="about-body">
<header>
    <div class="wrap header-wrap clearfix">
        <a class="fl logo" href="">
            <img class="wqd-img" src="../../assert/images/logo.png">
        </a>
        <nav class="fr header-nav">
            <ul class="">
                <li class="fl header-nav-li"><a href="../../index.html">首页</a></li>
                <li class="fl header-nav-li active"><a href="../../view/aboutUs/company.html">关于我们</a></li>
                <li class="fl header-nav-li"><a href="../../view/news/news.html">新闻资讯</a></li>
                <li class="fl header-nav-li"><a href="../../view/product/product-introduce.html">产品介绍</a></li>
            </ul>
        </nav>
    </div>
</header>
<!--<section><img src="../assert/images/zhaopin-banner.jpg" alt="一起成功"></section>-->
<div class="main-content clearfix">
    <div class="about-nav">
        <div class="about-nav-item">
            <h3 class="mb-15">
                <hr/>
                <span>关于我们</span></h3>
            <ul>
                <li class="about-nav-li"><a href="../../view/aboutUs/company.html">公司介绍</a></li>
                <li class="about-nav-li"><a href="../../view/aboutUs/team.html">团队介绍</a></li>
                <li class="about-nav-li active"><a href="../../view/aboutUs/concat.html">联系我们</a></li>
                <li class="about-nav-li"><a href="../../view/aboutUs/joinUs.html">加入我们</a></li>
            </ul>
        </div>
        <div class="about-nav-item">
            <h3 class="mb-15">
                <hr/>
                <span>产品服务</span></h3>
            <ul class="about-nav">
                <li class="about-nav-li"><a href="../../view/product/product-introduce.html">产品介绍</a></li>
                <li class="about-nav-li"><a href="#">安全保障</a></li>
                <li class="about-nav-li"><a href="#">服务协议</a></li>
                <li class="about-nav-li"><a href="concat.html">隐私条款</a></li>
            </ul>
        </div>
    </div>
    <div class="about-content ml-10">
        <div class="about-us">
            <div class="hd">
                <h2>联系我们</h2>
            </div>
            <div class="bd">
                <h3 class="contact_title service">客户服务</h3>
                <div>
                    <p class="sub_text">联系电话：150-6874-6735（工作日 9:00-22:00）</p>
                    <p class="sub_text">联系邮箱：<a href="mailto:kefu@lantouzi.com">442765960@qq.com</a></p>
                </div>
                <h3 class="contact_title teamwork">商业合作</h3>
                <div>
                    <p class="sub_text">我要合作：<a href="mailto:bd@lantouzi.com">442765960@qq.com</a></p>
                    <p class="sub_text">联系邮箱：<a href="mailto:kefu@lantouzi.com">442765960@qq.com</a></p>
                </div>
                <h3 class="contact_title location">龙游翔飞进出口有限公司</h3>
                <a target="_blank" href="http://map.baidu.com/?newmap=1&amp;ie=utf-8&amp;s=s%26wd%3D%E4%B8%89%E9%87%8C%E5%B1%AFSOHO%20%E5%8A%9E%E5%85%ACb"><img src="https://s1.lantouzi.com/img/ltz/contact_img.jpg"></a>
                <div>
                    <p class="sub_text">公司地址：浙江衢州衢州龙游龙洲街道赤步墈头102号</p>
                    <p class="sub_text" style="line-height:18px; padding-left:70px;">公交三里屯站&nbsp;113路; 115路; 416路环行; 417路; 431路; 701路;
                        特16路</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>