<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../styles/reset.css">
    <link rel="stylesheet" href="../../styles/common.css">
    <link rel="stylesheet" href="../../styles/index.css">
    <title>加入我们</title>
</head>
<body class="about-body">
<header>
    <div class="wrap header-wrap clearfix">
        <a class="fl logo" href="">
            <img class="wqd-img" src="../../assert/images/logo.png">
        </a>
        <nav class="fr header-nav">
            <ul class="">
                <li class="fl header-nav-li"><a href="../../index.html">首页</a></li>
                <li class="fl header-nav-li active"><a href="../../view/aboutUs/company.html">关于我们</a></li>
                <li class="fl header-nav-li"><a href="../../view/news/news.html">新闻资讯</a></li>
                <li class="fl header-nav-li"><a href="../../view/product/product-introduce.html">产品介绍</a></li>
            </ul>
        </nav>
    </div>
</header>
<!--<section><img src="../assert/images/yinli.jpg" alt="加入我们"></section>-->
<div class="main-content clearfix">
    <div class="about-nav">
        <div class="about-nav-item">
            <h3 class="mb-15">
                <hr/>
                <span>关于我们</span></h3>
            <ul>
                <li class="about-nav-li"><a href="../../view/aboutUs/company.html">公司介绍</a></li>
                <li class="about-nav-li"><a href="../../view/aboutUs/team.html">团队介绍</a></li>
                <li class="about-nav-li"><a href="../../view/aboutUs/concat.html">联系我们</a></li>
                <li class="about-nav-li active"><a href="../../view/aboutUs/joinUs.html">加入我们</a></li>
            </ul>
        </div>
        <div class="about-nav-item">
            <h3 class="mb-15">
                <hr/>
                <span>产品服务</span></h3>
            <ul>
                <li class="about-nav-li"><a href="../../view/product/product-introduce.html">产品介绍</a></li>
                <li class="about-nav-li"><a href="../../view/product/security.html">安全保障</a></li>
                <li class="about-nav-li"><a href="../../view/product/protocol.html">服务协议</a></li>
                <li class="about-nav-li"><a href="../../view/product/privacy.html">隐私条款</a></li>
            </ul>
        </div>
    </div>
    <div class="about-content ml-10">
        <img style="height: 200px;" src="../../assert/images/yinli.jpg" alt="加入我们">
        <div class="about-us join-us mt-45">
            <div class="hd">
                <h2>招聘职位</h2>
            </div>
            <div class="bd">
                <div class="tab-menu mt-20">
                    <ul class="tab-menu-list clearfix" data-for="joinUs">
                        <li class="fl tab-list-li active"><a href="javascript:">英语法语翻译</a></li>
                        <li class="fl tab-list-li"><a href="javascript:">出国造纸技术员</a></li>
                        <li class="fl tab-list-li"><a href="javascript:">注塑维修生产工</a></li>
                        <li class="fl tab-list-li"><a href="javascript:">出国棒冰厂技术员</a></li>
                        <li class="fl tab-list-li"><a href="javascript:">出国涂料技术工</a></li>
                    </ul>
                </div>
                <div class="tab-content joinUs-list">
                    <ul class="tab-list" id="joinUs">
                        <li class="tab-content-li active">
                            <div class="help_title"><h3>英语法语翻译</h3></div>
                            <p class="sub_text">岗位职责：</p>
                            <ol>
                                <li>工作地点为西非加纳共和国，在西非加纳做英语翻译</li>
                                <li>有法语能力者优先，最好有非洲工作经历</li>
                            </ol>
                            <p class="sub_text">薪资待遇：</p>
                            <ol>
                                <li>年薪在10万到16万之间</li>
                                <li>随着工作年限的增加每年还会增加工资</li>
                                <li>每年有一个月的回国探亲假</li>
                            </ol>
                            <p class="sub_text">加分项：</p>
                            <ol>
                                <li>非洲工作经历</li>
                                <li>法语能力</li>
                            </ol>
                        </li>
                        <li class="tab-content-li ">
                            <div class="help_title"><h3>出国造纸技术员</h3></div>
                            <p class="sub_text">岗位职责：</p>
                            <ol>
                                <li>造纸技术的研发以及生产</li>
                            </ol>
                            <p class="sub_text">薪资待遇：</p>
                            <ol>
                                <li>年薪在10万到16万之间</li>
                                <li>随着工作年限的增加每年还会增加工资</li>
                                <li>每年有一个月的回国探亲假</li>
                            </ol>
                            <p class="sub_text">加分项：</p>
                            <ol>
                                <li>非洲工作经历</li>
                                <li>有管理能力者优先</li>
                            </ol>
                        </li>
                        <li class="tab-content-li ">
                            <div class="help_title"><h3>出国造纸技术员</h3></div>
                            <p class="sub_text">岗位职责：</p>
                            <ol>
                                <li>塑料注塑工，包括注塑，维修，生产</li>
                            </ol>
                            <p class="sub_text">薪资待遇：</p>
                            <ol>
                                <li>年薪在10万到16万之间</li>
                                <li>随着工作年限的增加每年还会增加工资</li>
                                <li>每年有一个月的回国探亲假</li>
                            </ol>
                            <p class="sub_text">加分项：</p>
                            <ol>
                                <li>有工作时间者优先</li>
                                <li>有工作经验者优先</li>
                            </ol>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="wrap clearfix">
        <section class="fl concat-way">
            <h6>联系我们</h6>
            <span>公司地址 ： 浙江省衢州市龙游县翔飞有限公司地址</span>
            <span>联系电话 ： 150-6874-6735</span>
            <span>我要合作 ： 150-6874-6735</span>
        </section>
        <section class="fl ml-60 footer-middle">
            <h6>您的成功梦想需要一包非同凡响的纸巾</h6>
            <p>韧-柔软与结实的出色演绎，纸巾要做到既柔软又结实并不容易，而翔飞产品永远在“韧”上追求卓越表现。全新韧性升级的翔飞超韧系列，精选进口优质原生木浆，超韧3层、湿水不易破，连金鱼也能轻松兜住！</p>
        </section>
        <section class="fl footer-middle ml-60">
            <h6>雕琢每一个面向用户的细节</h6>
            <p>时尚、高雅的蓝色主调配合象征幸福的动感立体扶郎花，运用全新翔飞品牌区，韧性品质给你带来前所未有的高端享受。</p>
        </section>
    </div>
    <p class="tc mt-20">龙游翔飞有限公司   Copyright 2012-2015 浙ICP10204942号</p>
</footer>
<script src="../../scripts/jquery-3.2.1.min.js"></script>
<script src="../../scripts/common.js"></script>
<script>
    $(function () {
        $("body").on("click",".tab-list-li",function () {
            var index = $(this).index();
            $(this).addClass("active").siblings().removeClass("active");
            $(".tab-content-li").eq(index).addClass("active").siblings().removeClass("active");
        })
    })
</script>
</body>
</html>