<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../styles/reset.css">
    <link rel="stylesheet" href="../../styles/common.css">
    <link rel="stylesheet" href="../../styles/index.css">
    <title>加入我们</title>
</head>
<body class="about-body">
<header>
    <div class="wrap header-wrap clearfix">
        <a class="fl logo" href="">
            <img class="wqd-img" src="../../assert/images/logo.png">
        </a>
        <nav class="fr header-nav">
            <ul class="">
                <li class="fl header-nav-li"><a href="../../index.html">首页</a></li>
                <li class="fl header-nav-li active"><a href="../../view/aboutUs/company.html">关于我们</a></li>
                <li class="fl header-nav-li"><a href="">新闻资讯</a></li>
                <li class="fl header-nav-li"><a href="">产品介绍</a></li>
            </ul>
        </nav>
    </div>
</header>
<!--<section><img src="../assert/images/yinli.jpg" alt="加入我们"></section>-->
<div class="main-content">
    <div class="about-nav">
        <div class="about-nav-item">
            <h3 class="mb-15">
                <hr/>
                <span>关于我们</span></h3>
            <ul class="about-nav">
                <li class="about-nav-li"><a href="../../view/aboutUs/company.html">公司介绍</a></li>
                <li class="about-nav-li"><a href="../../view/aboutUs/team.html">团队介绍</a></li>
                <li class="about-nav-li"><a href="../../view/aboutUs/concat.html">联系我们</a></li>
                <li class="about-nav-li active"><a href="../../view/aboutUs/joinUs.html">加入我们</a></li>
            </ul>
        </div>
        <div class="about-nav-item">
            <h3 class="mb-15">
                <hr/>
                <span>产品服务</span></h3>
            <ul class="about-nav">
                <li class="about-nav-li"><a href="../../view/aboutUs/company.html">产品介绍</a></li>
                <li class="about-nav-li"><a href="../../view/aboutUs/team.html">安全保障</a></li>
                <li class="about-nav-li"><a href="../../view/aboutUs/concat.html">服务协议</a></li>
                <li class="about-nav-li"><a href="concat.html">隐私条款</a></li>
            </ul>
        </div>
    </div>
    <div class="about-content ml-10">
        <h1>团队无敌，就是这么自信</h1>
    </div>
</div>
<script src="../../scripts/jquery-3.2.1.min.js"></script>
<script src="../../scripts/common.js"></script>
<script>
    $(function () {
        $("body").on("click",".tab-list-li",function () {
            var index = $(this).index();
            $(this).addClass("active").siblings().removeClass("active");
            $(".tab-content-li").eq(index).addClass("active").siblings().removeClass("active");
        })
    })
</script>
</body>
</html>