<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="翔飞,shinefeel">
    <meta name="description" content="H翔飞公司">
    <link rel="stylesheet" href="../../styles/reset.css">
    <link rel="stylesheet" href="../../styles/index.css">
    <link rel="stylesheet" href="../../styles/swiper.min.css">
    <title>新闻资讯</title>
</head>
<body>
<header class="header">
    <div class="wrap header-wrap clearfix">
        <a class="fl logo" href="">
            <img class="wqd-img" src="../../assert/images/logo.png">
        </a>
        <nav class="fr header-nav">
            <ul class="">
                <li class="fl header-nav-li"><a href="../../index.html">首页</a></li>
                <li class="fl header-nav-li active"><a href="../../view/company.html">关于我们</a></li>
                <li class="fl header-nav-li"><a href="">新闻资讯</a></li>
                <li class="fl header-nav-li"><a href="">产品介绍</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="container">
    <div class="news-box">
        <h1>龙游翔飞公司网站上线通告</h1>
        <p class="sub_text">尊敬的各位朋友，您好：</p>
        <p class="sub_text">经过产品研发团队没日没夜地紧张开发，翔飞公司网站终于与大家见面了！</p>
        <p class="sub_text">上线之初，在用户体验方面还有诸多不足，我们非常欢迎大家体验我们的产品，并提出宝贵的意见和建议。</p>
        <p class="sub_text">翔飞公司致力于打造最优质、最安全、最便捷的纸巾生产厂家，我们将为您提供最贴心的服务。</p>
        <p class="sub_text">如需帮助，请直接与我们联系：</p>
        <p class="sub_text">翔飞公司专线：400-807-8000</p>
        <p class="sub_text">翔飞公司邮箱： 442765960@qq.com</p>
        <p class="sub_text">懒投资微信版：xiangfei</p>
    </div>
</div>
<footer class="footer">
    <div class="wrap">
        <section class="concat-way">
            <h6>联系我们</h6>
            <span>公司地址 ： 浙江省衢州市龙游县翔飞有限公司地址</span>
            <span>联系电话 ： 150-6874-6735</span>
            <span>我要合作 ： 150-6874-6735</span>
        </section>
        <section class="footer-middle">
            <h6>您的成功梦想需要一包非同凡响的纸巾</h6>
            <p>韧-柔软与结实的出色演绎，纸巾要做到既柔软又结实并不容易，而翔飞产品永远在“韧”上追求卓越表现。全新韧性升级的翔飞超韧系列，精选进口优质原生木浆，超韧3层、湿水不易破，连金鱼也能轻松兜住！</p>
        </section>
        <section class="footer-middle">
            <h6>雕琢每一个面向用户的细节</h6>
            <p>时尚、高雅的蓝色主调配合象征幸福的动感立体扶郎花，运用全新翔飞品牌区，韧性品质给你带来前所未有的高端享受。</p>
        </section>
    </div>
</footer>
</body>
</html>