@import "resetStyle.scss";
.about-body{
  background: url("../assert/images/about_bg.jpg") no-repeat center top fixed;
  background-size: cover;
}
.main-content{
  //display: flex;
  width: 1000px;
  margin: 30px auto;
}
.about-content{
  float: left;
  padding: 30px 50px;
  min-height: 783px;
  width: 795px;
  background: #fff;
  overflow: hidden;
}
.about-us{
  h2{
    font-size: 18px;
    color: $themeColor;
  }
  h3{
    margin: 20px 0 5px;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    font-weight: normal;
    color: $themeColor;
  }
  .contact_title{
    padding-left: 28px;
    background-repeat: no-repeat;
    background-size: 24px;
  }
  .service{
    background-image: url("../assert/images/service.png");
  }
  .teamwork{
    background-image: url("../assert/images/hezuo.png");
  }
  .location{
    background-image: url("../assert/images/location.png");
  }
}
.zhizhao{
  display: block;
  margin: 0 auto;
  width: 387px;
  height: 543px;
}
/*==========加入我们============*/
.join-us{
}
.tab-menu-list{
  line-height: 40px;
  font-size: 14px;
  border-bottom: 2px solid $themeColor;
  li{
    &:hover{
      background-color: #eee;
    }
    &.active{
      background-color: $themeColor;
      a{
        color: #fff;
      }
    }
    a{
      padding: 0 8px;
    }
  }
}
.tab-content{
  .tab-list > li{
    display: none;
    &.active{
      display: block;
    }
    .help_title{
      height: 24px;
      line-height: 24px;
      font-size: 16px;
    }
    &.active{
      .help_title{
        color: $themeColor;
      }
    }
  }
  ol{
    padding-left: 2em;
    color: #666;
    li{
      height: 24px;
      line-height: 24px;
    }
  }
}
/*==========产品列表============*/
.product-list li{
  margin-bottom: 30px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 0 4px #eee;
  .product-img{
    width: 180px;
    height: 150px;
  }
}
.product-des{
  width: 500px;
  height: 150px;
  padding: 15px 5px;
  p{
    font-size: 14px;
    line-height: 28px;
    text-align: left;
    color: #666;
  }
}