@import "resetStyle.scss";
/***********************关于我们--左边目录栏********************/
.about-nav{
  width: 195px;
  text-align: center;
  padding-bottom: 15px;
  background-color: #fff;
  h3{
    padding-top: 32px;
    height: 50px;
    color: $themeColor;
    font-size: 18px;
    span{
      padding: 0 5px;
      background-color: #fff;
    }
  }
  hr{
    margin: 0 auto -0.7143em;
    width: 190px;
    border: 0;
    border-top: 1px solid #6fcaf8;
  }
  .about-nav-li{
    a{
      display: block;
      height: 42px;
      line-height: 42px;
      color: #666;
      font-size: 14px;
    }
    &.active{
      a{
        background-color: $themeColor;
        color: #fff;
      }
    }
    &:hover{
      text-decoration: none;
      background-color: #eee;
    }
  }
}
.sub_text{
  padding: 9px 0;
  font-size: 14px;
  line-height: 28px;
  text-align: left;
  color: #666;
}