@import "resetStyle.scss";
//图片懒加载
.img{
  background: url("../assert/images/loading.gif");
}
.input-checkbox{
  display: flex;
  align-items: center;
  cursor: pointer;
  input{display: none;}
  span{
    position: relative;
    display: inline-block;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    border: 1px solid #bfcbd9;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46);
    &:after{
      content: "";
      position: absolute;
      top: 1px;
      left: 5px;
      width: 3px;
      height: 7px;
      border: 2px solid $themeColor;
      border-left: none;
      border-top: none;
      transform: rotate(45deg) scaleY(0);;
      transition: transform .15s cubic-bezier(.71,-.46,.88,.6) .05s;
    }
  }
  input:checked + span{
    border: 1px solid $themeColor;
    transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46);
    &:after{
      transform: rotate(45deg) scaleY(1);
      transition: transform .15s cubic-bezier(.71,-.46,.88,.6) .05s;
    }
  }
}
.input-radio{
  display: flex;
  align-items: center;
  cursor: pointer;
  input{display: none;}
  span{
    position: relative;
    display: inline-block;
    margin-right: 5px;
    width: 14px;
    height: 14px;
    border: 1px solid #bfcbd9;
    border-radius: 50%;
    box-sizing: border-box;
    transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46);
    &:after{
      content: "";
      position: absolute;
      top: 3px;
      left: 3px;
      width: 6px;
      height: 6px;
      background-color: $themeColor;
      border-radius: 50%;
      transform: scaleY(0);;
      transition: transform .15s cubic-bezier(.71,-.46,.88,.6) .05s;
    }
  }
  input:checked + span{
    border: 1px solid $themeColor;
    transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46);
    &:after{
      transform: scaleY(1);
      transition: transform .15s cubic-bezier(.71,-.46,.88,.6) .05s;
    }
  }
}
/***********************头部********************/
header{
  //position: absolute;
  //top: 0;
  //width: 100%;
  background-color: #fff;
  .header-wrap{
    //display: flex;
    //justify-content:space-between;
  }
  .logo{
    margin-left: 100px;
    width: 210px;
    height: 100px;
  }
  .header-nav{
    width: 400px;
    ul{
      display: flex;
    }
    .header-nav-li{
      a{
        padding: 42px 20px;
        border-radius: 1px;
      }
      &:hover,&.active{
        a{
          color: #fff;
        }
        background-color: $themeColor;
      }
    }
  }
}
/*******************************************/
/***********************底部********************/
.footer{
  height: 300px;
  color: $gray;
  .wrap{
    padding-top: 90px;
    //display: flex;
    //justify-content: space-around;
  }
  section{
    width: 30%;
  }
  h6{
    margin-bottom: 30px;
    font-size: 16px;
    color: #ccc;
  }
  .concat-way{
    //display: flex;
    flex-direction: column;
    span{
      line-height: 24px;
    }
  }
  background: url("../assert/images/footer-bg.png") repeat 50% 50% scroll;
}
.footer-middle{
  width: 345px;
}
.page_title{
  height: 50px;
  color: $themeColor;
  font-size: 18px;
}
/***********************关于我们--左边目录栏********************/
.about-nav{
  float: left;
  width: 195px;
  text-align: center;
  padding-bottom: 15px;
  background-color: #fff;
  h3{
    padding-top: 32px;
    height: 50px;
    color: $themeColor;
    font-size: 18px;
    span{
      padding: 0 5px;
      background-color: #fff;
    }
  }
  hr{
    margin: 0 auto -0.7143em;
    width: 190px;
    border: 0;
    border-top: 1px solid #6fcaf8;
  }
  .about-nav-li{
    a{
      display: block;
      height: 42px;
      line-height: 42px;
      color: #666;
      font-size: 14px;
    }
    &.active{
      a{
        background-color: $themeColor;
        color: #fff;
      }
    }
    &:hover{
      text-decoration: none;
      background-color: #eee;
    }
  }
}
.sub_text{
  padding: 9px 0;
  font-size: 14px;
  line-height: 28px;
  text-align: left;
  color: #666;
}