@import "resetStyle.scss";
/***********************头部********************/
header{
  //position: absolute;
  //top: 0;
  //width: 100%;
  background-color: #fff;
  .header-wrap{
    //display: flex;
    //justify-content:space-between;
  }
  .logo{
    margin-left: 100px;
    width: 210px;
    height: 100px;
  }
  .header-nav{
    width: 400px;
    ul{
      display: flex;
    }
    .header-nav-li{
      a{
        padding: 42px 20px;
        border-radius: 1px;
      }
      &:hover,&.active{
        a{
          color: #fff;
        }
        background-color: $themeColor;
      }
    }
  }
}
/***********************底部********************/
.footer{
  height: 300px;
  color: $gray;
  .wrap{
    padding-top: 90px;
    //display: flex;
    //justify-content: space-around;
  }
  section{
    width: 30%;
  }
  h6{
    margin-bottom: 30px;
    font-size: 16px;
    color: #ccc;
  }
  .concat-way{
    //display: flex;
    flex-direction: column;
    span{
      line-height: 24px;
    }
  }
  background: url("../assert/images/footer-bg.png") repeat 50% 50% scroll;
}
.footer-middle{
  width: 345px;
}
.page_title{
  height: 50px;
  color: $themeColor;
  font-size: 18px;
}
/***********************关于我们--左边目录栏********************/
.about-nav{
  float: left;
  width: 195px;
  text-align: center;
  padding-bottom: 15px;
  background-color: #fff;
  h3{
    padding-top: 32px;
    height: 50px;
    color: $themeColor;
    font-size: 18px;
    span{
      padding: 0 5px;
      background-color: #fff;
    }
  }
  hr{
    margin: 0 auto -0.7143em;
    width: 190px;
    border: 0;
    border-top: 1px solid #6fcaf8;
  }
  .about-nav-li{
    a{
      display: block;
      height: 42px;
      line-height: 42px;
      color: #666;
      font-size: 14px;
    }
    &.active{
      a{
        background-color: $themeColor;
        color: #fff;
      }
    }
    &:hover{
      text-decoration: none;
      background-color: #eee;
    }
  }
}
.sub_text{
  padding: 9px 0;
  font-size: 14px;
  line-height: 28px;
  text-align: left;
  color: #666;
}