@import "resetStyle.scss";
//@import "common.scss";
//@import "aboutUs.scss";
body{
  line-height: 1.41;
  color: #333;
}
.index-banner{
  position: relative;
  background: url("../assert/images/banner.jpg") no-repeat  50% 50% scroll;
  background-size: cover;
  .banner-wrap{
    height: 596px;
  }
  img{
    height: 596px;
  }
  .banner-word{
    position: absolute;
    left: 100px;
    top: 400px;
    color: #fff;
    .banner-title{
      margin-bottom: 5px;
      font-size: 34px;
      font-weight: normal;
    }
    .banner-text{

    }
  }
}
.product-list{
  height: 437px;
  padding-top: 80px;
  background-color: #f5f5f5;
  ul{
    //display: flex;
    //justify-content: space-around;
  }
  li{
    width: 25%;
    padding: 0 25px;
    //width: 226px;
    height: 145px;
  }
  h6{
    font-size: 18px;
  }
  p{
    color: $gray
  }
}
.theme-btn{
  width: 150px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #fff;
  background-color: $themeColor;
  border-radius: 10px;
}
.banner-middle{
  height: 312px;
}
.product-slide{
  margin: 110px auto 30px;
  //display: flex;
  //justify-content: space-between;
  .mac-box{
    width: 545px;
    height: 439px;
    background: url("../assert/images/mac.png") no-repeat;
    background-size: cover;
    .slide-box{
      margin-top: 22px;
      width: 507px;
      height: 281px;
      .swiper-wrapper{
        //margin: 22px auto 0;
      }
    }
  }
}
.slider-right{
  margin-top: 95px;
  width: 425px;
  h6{
    font-weight: normal;
    font-size: 34px;
  }
  p{
    color: $litter-gray;
  }
}
/***********************关于我们********************/
/***********************新闻列表********************/
.container{
  margin: 30px auto;
  padding: 20px 30px;
  position: relative;
  width: 1000px;
  min-height: 500px;
  background-color: #fff;
}
.news-box{
  padding: 30px 60px;
  //background-color: #fff;
}

.news_title{
  padding-bottom: 30px;
  text-align: center;
  color: $themeColor;
  font-size: 18px;
}
.news-list li{
  span{
    float: right;
    color: #999;
  }
  a{
    color: #666;
  }
  padding-right: 10px;
  height: 46px;
  line-height: 46px;
  border-bottom: 1px dashed #eee;
  list-style: disc;
  list-style-position: inside;
  color: $themeColor;
}
