@charset "UTF-8";
/*常用颜色*/
/*主题色#1cacf4*/
/*表格灰框颜色*/
/*标题栏背景灰色*/
.c-theme-color {
  color: #1cacf4; }

/*常用颜色*/
/*主题色#1cacf4*/
/*表格灰框颜色*/
/*标题栏背景灰色*/
.c-theme-color {
  color: #1cacf4; }

.about-body {
  background: url("../assert/images/about_bg.jpg") no-repeat center top fixed;
  background-size: cover; }

.main-content {
  width: 1000px;
  margin: 30px auto; }

.about-content {
  float: left;
  padding: 30px 50px;
  min-height: 783px;
  width: 795px;
  background: #fff;
  overflow: hidden; }

.about-us h2 {
  font-size: 18px;
  color: #1cacf4; }
.about-us h3 {
  margin: 20px 0 5px;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  font-weight: normal;
  color: #1cacf4; }
.about-us .contact_title {
  padding-left: 28px;
  background-repeat: no-repeat;
  background-size: 24px; }
.about-us .service {
  background-image: url("../assert/images/service.png"); }
.about-us .teamwork {
  background-image: url("../assert/images/hezuo.png"); }
.about-us .location {
  background-image: url("../assert/images/location.png"); }

.zhizhao {
  display: block;
  margin: 0 auto;
  width: 387px;
  height: 543px; }

/*==========加入我们============*/
.tab-menu-list {
  line-height: 40px;
  font-size: 14px;
  border-bottom: 2px solid #1cacf4; }
  .tab-menu-list li:hover {
    background-color: #eee; }
  .tab-menu-list li.active {
    background-color: #1cacf4; }
    .tab-menu-list li.active a {
      color: #fff; }
  .tab-menu-list li a {
    padding: 0 8px; }

.tab-content .tab-list > li {
  display: none; }
  .tab-content .tab-list > li.active {
    display: block; }
  .tab-content .tab-list > li .help_title {
    height: 24px;
    line-height: 24px;
    font-size: 16px; }
  .tab-content .tab-list > li.active .help_title {
    color: #1cacf4; }
.tab-content ol {
  padding-left: 2em;
  color: #666; }
  .tab-content ol li {
    height: 24px;
    line-height: 24px; }

/*==========产品列表============*/
.product-list li {
  margin-bottom: 30px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 0 4px #eee; }
  .product-list li a {
    width: 180px;
    height: 150px; }

.product-des {
  width: 500px;
  height: 150px;
  padding: 15px 5px; }
  .product-des p {
    font-size: 14px;
    line-height: 28px;
    text-align: left;
    color: #666; }

body {
  line-height: 1.41;
  color: #333; }

.index-banner {
  position: relative;
  background: url("../assert/images/banner.jpg") no-repeat 50% 50% scroll;
  background-size: cover; }
  .index-banner .banner-wrap {
    height: 596px; }
  .index-banner img {
    height: 596px; }
  .index-banner .banner-word {
    position: absolute;
    left: 100px;
    top: 400px;
    color: #fff; }
    .index-banner .banner-word .banner-title {
      margin-bottom: 5px;
      font-size: 34px;
      font-weight: normal; }

.product-list {
  height: 437px;
  padding-top: 80px;
  background-color: #f5f5f5; }
  .product-list li {
    width: 25%;
    padding: 0 25px;
    height: 145px; }
  .product-list h6 {
    font-size: 18px; }
  .product-list p {
    color: #696969; }

.theme-btn {
  width: 150px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #fff;
  background-color: #1cacf4;
  border-radius: 10px; }

.banner-middle {
  height: 312px; }

.product-slide {
  margin: 110px auto 30px; }
  .product-slide .mac-box {
    width: 545px;
    height: 439px;
    background: url("../assert/images/mac.png") no-repeat;
    background-size: cover; }
    .product-slide .mac-box .slide-box {
      margin-top: 22px;
      width: 507px;
      height: 281px; }

.slider-right {
  margin-top: 95px;
  width: 425px; }
  .slider-right h6 {
    font-weight: normal;
    font-size: 34px; }
  .slider-right p {
    color: #a9a9a9; }

/***********************关于我们********************/
/***********************新闻列表********************/
.container {
  margin: 30px auto;
  padding: 20px 30px;
  position: relative;
  width: 1000px;
  min-height: 500px;
  background-color: #fff; }

.news-box {
  padding: 30px 60px; }

.news_title {
  padding-bottom: 30px;
  text-align: center;
  color: #1cacf4;
  font-size: 18px; }

.news-list li {
  padding-right: 10px;
  height: 46px;
  line-height: 46px;
  border-bottom: 1px dashed #eee;
  list-style: disc;
  list-style-position: inside;
  color: #1cacf4; }
  .news-list li span {
    float: right;
    color: #999; }
  .news-list li a {
    color: #666; }

/*# sourceMappingURL=index.css.map */
