@charset "UTF-8";
/*常用颜色*/
/*主题色#1cacf4*/
/*表格灰框颜色*/
/*标题栏背景灰色*/
/*标题颜色*/
.c-theme-color {
  color: #1cacf4; }

body {
  line-height: 1.41;
  color: #333;
  background-color: #f5f5f5; }

.index-banner {
  position: relative;
  height: 500px; }
  .index-banner .swiper-container {
    height: 100%; }
  .index-banner img {
    height: 100%; }
  .index-banner .banner-word {
    position: absolute;
    left: 100px;
    top: 400px;
    color: #fff; }
    .index-banner .banner-word .banner-title {
      margin-bottom: 5px;
      font-size: 34px;
      font-weight: normal; }

.banner-title {
  margin: 0 0 25px 10px; }
  .banner-title .banner-title-icon {
    margin-right: 10px;
    width: 31px;
    height: 30px;
    vertical-align: middle;
    background: url("../assert/images/iconlist-1.png") no-repeat -130px -115px; }
    .banner-title .banner-title-icon.company {
      background-position: -132px -407px; }
  .banner-title h3 {
    font-size: 28px;
    color: #576671;
    cursor: pointer; }
    .banner-title h3:hover .banner-title-icon {
      background-position-x: 0; }
  .banner-title a {
    margin-left: 20px;
    padding: 0 10px;
    min-width: 60px;
    font-size: 14px;
    color: #171717;
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle; }
    .banner-title a:hover {
      color: #1cacf4; }
    .banner-title a.active {
      background-color: #1cacf4;
      color: #fff; }

.index-product-list {
  padding-top: 80px;
  background-color: #f5f5f5; }
  .index-product-list li {
    margin: 0 10px;
    width: calc(25% - 20px);
    padding: 20px 15px 20px;
    text-align: center;
    background-color: #fff;
    transform: translate3d(0, 0, 0);
    transition: transform .5s; }
    .index-product-list li:hover {
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
      transform: translate3d(0, -3px, 0);
      transition: transform .5s; }
  .index-product-list img {
    height: 145px; }
  .index-product-list h6 {
    font-size: 18px; }
  .index-product-list p {
    color: #696969; }

.theme-btn {
  width: 150px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #fff;
  background-color: #1cacf4;
  border-radius: 10px; }

.banner-middle {
  height: 312px; }

.product-slide {
  margin: 110px auto 30px; }
  .product-slide .mac-box {
    width: 545px;
    height: 439px;
    background: url("../assert/images/mac.png") no-repeat;
    background-size: cover; }
    .product-slide .mac-box .slide-box {
      margin-top: 22px;
      width: 507px;
      height: 281px; }
      .product-slide .mac-box .slide-box img {
        transform: scale(1);
        transition: transform .5s; }
        .product-slide .mac-box .slide-box img:hover {
          transform: scale(1.2);
          transition: transform .5s; }

.slider-right {
  margin-top: 95px;
  width: 425px; }
  .slider-right h6 {
    font-weight: normal;
    font-size: 34px; }
  .slider-right p {
    color: #a9a9a9; }

/***********************关于我们********************/
/***********************新闻列表********************/
.container {
  margin: 30px auto;
  padding: 20px 30px;
  position: relative;
  width: 1000px;
  min-height: 500px;
  background-color: #fff; }

.news-box {
  padding: 30px 60px; }

.news_title {
  padding-bottom: 30px;
  text-align: center;
  color: #1cacf4;
  font-size: 18px; }

.news-list li {
  padding-right: 10px;
  height: 46px;
  line-height: 46px;
  border-bottom: 1px dashed #eee;
  list-style: disc;
  list-style-position: inside;
  color: #1cacf4; }
  .news-list li span {
    float: right;
    color: #999; }
  .news-list li a {
    color: #666; }

/*# sourceMappingURL=index.css.map */
