@charset "utf-8";

/*常用颜色*/
$themeColor : rgb(28,172,244);/*主题色#1cacf4*/
$gray : #696969;
$litter-gray : #a9a9a9;
$borderColor : #b3b3b3;/*表格灰框颜色*/
$titleBgColor : #f0f0f0;/*标题栏背景灰色*/
$titleColor : #576671;/*标题颜色*/
$orange : #ee8f00;//橘色
.c-theme-color{color: $themeColor;}
@mixin scale($n) {
  -webkit-transform: scale($n);
  -ms-transform: scale($n);
  transform: scale($n);
}

@mixin transform-origin($x,$y) {
  -webkit-transform-origin: $x $y;
  -ms-transform-origin: $x $y;
  transform-origin: $x $y;
}

@mixin transition($prop,$time) {
  -webkit-transition: $prop $time;
  -ms-transition: $prop $time;
  transition: $prop $time;
}

@mixin rotate($deg) {
  -webkit-transform: rotate($deg);
  -ms-transform: rotate($deg);
  transform: rotate($deg);
}